In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/sunspot.year.csv')
data.head()

   Unnamed: 0  time  sunspot.year
0           1  1700           5.0
1           2  1701          11.0
2           3  1702          16.0
3           4  1703          23.0
4           5  1704          36.0

In [5]:
data = data.rename(columns={'Unnamed: 0': 'Observing', 'time': 'Date', 'sunspot.year' : 'Sunspots in year'})
data.head()

   Observe  Date  Sunspots in year
0        1  1700               5.0
1        2  1701              11.0
2        3  1702              16.0
3        4  1703              23.0
4        5  1704              36.0